 <div class="header">
                <a href="youtube"><div class="logo">Comffee</div></a>
                <div class="nav-btn">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/Product">Products</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#"><span class="acc">Account</span></a></li>
                    </ul>
                </div>
            </div>