<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Comffee</title>
</head>
<body>
    <div class="main">
        <div class="section1">
           {{>heder}}
            <div class="hero-main">
                <div class="hero-contents">

                <div class="hero-img">
                    <p class="brandName">COMFFEE!</p>
                </div>
                <div class="hero-text"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores iure pariatur quis quibusdam ipsam! Ea officiis quisquam quasi adipisci veritatis, eligendi cumque, delectus exercitationem repudiandae minima nesciunt maiores quidem expedita. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque est culpa, totam veniam provident sed doloremque! Reiciendis, deleniti saepe sunt consequuntur quo molestiae suscipit sint rerum, excepturi vel explicabo minima?</p></div>
                
                <a href="#" class="hero-img-btn">Order Now!</a>
                </div>
            </div>
        </div>
        <div class="section2">
        </div>
    </div>
</body>
</html>